<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<div class="card">
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in people %}
                        <tr>
                            <td>{{person.first_name}}</td>
                            <td>{{person.last_name}}</td>
                            <td>{{person.first_name}} {{person.last_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!-- closing table div below -->
                </table>
                <!-- closing column div below -->
            </div>
            <!-- closing row container below -->
        </div>
        <!-- closing container div below -->
    </div>
    
</div>
</body>
</html>